* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Recursive", monospace;
  font-size: 100px;
  color: ghostwhite;
  user-select: none;
  text-decoration: none;
}

body {
  width: 100vw;
  height: 105vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-image: linear-gradient(#485461 0%, #28313b 74%);
  background-color: #485461;
  flex-direction: column;
}
.box {
  width: 360px;
  height: 360px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2px;
  grid-row-gap: 2px;
  margin-top: 20px;

  overflow: none;
}

.c {
  width: 118px;
  height: 118px;
  background-color: #485461;
  color: ghostwhite;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.drop {
  width: 118px;
  height: 118px;
  background-color: #3e79e7;
  color: ghostwhite;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  text-shadow: 3px 3px 15px #3e79e7, 3px 3px 2px black;
}

.extra {
  height: 118px;
  width: 600px;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.f {
  flex: 2;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.e1,
.e2,
.e3 {
  background-color: #3e79e7;
  width: 118px;
  border-radius: 20px;

  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.l {
  width: 118px;
  display: flex;
  justify-content: center;
}
.blank {
  width: 118px;
  background-color: #485461;
}
.e1 {
  margin-right: 73px;
}
.drag {
  background-color: #3e79e7;
  width: 118px;
  height: 118px;
  padding: auto;
  text-align: center;
  color: white;
  cursor: pointer;
}

.e2 {
  transform: scale(0.8);
  opacity: 0.6;
  pointer-events: none;
}
.e3 {
  transform: scale(0.7);
  opacity: 0.4;
  pointer-events: none;
}
.none {
  display: none;
}
.e1 {
  background-color: #485461;
}

.fill {
  width: 100%;
  background-color: #3e79e7;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.hover {
  background-color: #6b8097;
}

.gameover {
  width: 100vw;
  height: 110vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 300;
  display: none;
}

.message {
  width: 596px;
  height: 532px;
  border-radius: 20px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  opacity: 200000;
  border: 12px solid #0f58e0;
}
.message h1 {
  font-size: 75px;
  color: ghostwhite;
  font-family: consolas;
}
.message h8 {
  font-size: 45px;
  color: ghostwhite;
  font-family: consolas;
}

.message a {
  font: 0.3em sans-serif;
  z-index: 25;
  width: 250px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(219, 87%, 47%);
  font-family: sans-serif;
  color: #fff;
  opacity: 1 !important;
  z-index: 340;
  cursor: pointer;
}
.gamestart {
  width: 100vw;
  height: 110vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 300;
}

.st {
  width: 596px;
  height: 532px;
  border-radius: 20px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  opacity: 200000;
  border: 12px solid #0f58e0;
}
.st h1 {
  font-size: 105px;
  color: #5db1ff;
  font-family: consolas;
}
.st a {
  font: 0.3em sans-serif;
  z-index: 25;
  width: 80%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(219, 87%, 47%);
  font-family: sans-serif;
  color: #fff;
  opacity: 1 !important;
  z-index: 340;
  cursor: pointer;
}
